<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="title-container">
        <h2>MONEDAS</h2>
      </div>
    </div>
    <div class="right-side">
      <div class="container">
        <button  type="button" class="btn btn-primary " aria-expanded="false"(click)="listar()">listar</button>
        <button type="button" class="btn btn-primary "  aria-expanded="false" (click)="nuevo()">añadir</button>
      </div>
    </div>
  </div>
</main>
<router-outlet></router-outlet>